.custom-context-menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.custom-context-menu button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  width: 100%;
  text-align: left;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
}
