.canvas-wrapper,
svg,
svg * {
  touch-action: none;
}

svg foreignObject,
svg foreignObject * {
  touch-action: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
}

.canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clean {
  background: linear-gradient(#e66465, #9198e5);
  background-attachment: fixed;
  animation-name: clean;
  animation-duration: 5s;
  font-family: "Comic Sans MS";
  font-size: 1.6rem;
  color: yellow;
  overflow: auto;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes clean {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(359deg);
  }
}
/*#root div {
   
}
@keyframes clean {
  from {filter: hue-rotate(0deg);}
  to {filter: hue-rotate(359deg);}
}*/
.hand {
  position: fixed;
  bottom: 0;
}

/* .hand__card:hover {
  zoom: 3;
} */
