.card {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
}

.card div {
    position: absolute;
    backface-visibility: hidden;
}


.card img {
    height: 200px;
}

.card--front {
}
.card--back {
    transform: rotateY(180deg);
}

.board {
    background-color: brown;
}

.library {
    border: 3px solid red;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    bottom: 100px;
    width: 163px;
    height: 227px;
}

.library .card {
    position: absolute;
}

.library .card .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.library .card:hover .content {
    transform: rotateY(180deg) rotateZ(-10deg);
}

.hand {
    overflow: visible;
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: -170px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.hand>div {
    width: 100%;
}

.hand .card {
    display: inline-block;
    margin-right: -80px;
    transition: padding 0.5s;
}

.hand .card:hover {
    padding-bottom: 100px;
}